<div id="site-wrapper">
  <div class="nav">
    <div class="nav__inner">
      {{ page.header }}
      <div class="nav__icons">
        {{ page.main_navigation}}
      </div>
    </div>
  </div>
  <div class="content-wrapper">
